@{
    Style.Require("Avatars");
}
@if ((bool)Model.HasAvatar)
{
    <div class="piedone-avatars avatarbox">
        <a href="@Url.Content("~/profile/" + (string)Model.UserName)">
            @Html.Image((string)Model.ImageUrl, T("{0}'s avatar", (string)Model.UserName).ToString(), new Dictionary<string, object> { { "class", "piedone-avatars avatar" } })
        </a>
    </div>
}