@model Piedone.Avatars.Models.AvatarProfilePart
@{
    Script.Require("jQuery").AtFoot();
}
<fieldset>
    <legend>@T("Avatar")</legend>
    <ol>
        <li>
            <div class="piedone-avatars profile-editor">
                @if (Model.HasAvatar)
                {
                    <span>@T("Current avatar")</span>
                    @Html.Image(Model.ImageUrl, T("Your avatar image").ToString(), new Dictionary<string, object> { { "class", "piedone-avatars own-image" } });
                }
            </div>
            @Html.Label("FileUpload", T("Upload a new avatar image").ToString())
            <input type="file" name="Avatars_FileUpload" id="Avatars_FileUpload">
        </li>
    </ol>
</fieldset>
@*Trick taken from Contrib.FileField*@
@using (Script.Foot())
{
    <script type="text/javascript">
    //<![CDATA[
        $($("#Avatars_FileUpload")[0].form)
		    .attr('enctype', 'multipart/form-data')
		    .attr('encoding', 'multipart/form-data'); // ie issue
    //]]>
    </script>
}
